@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: playfair;
  src: url("./assets/font/playfairDisplay.woff2");
}
@font-face {
  font-family: sora;
  src: url("./assets/font/soraFont.woff2");
}

body {
  font-family: sora;
}

.max-width-content {
  max-width: 1300px !important;
  margin: auto !important;
}

.title {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  font-weight: 700;
}
.desc {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

button:disabled {
  background-color: lightgrey !important;
}

.jodit-workplace {
  height: 400px !important;
}

table,
tr,
td {
  border: 1px solid lightgray !important;
}
td {
  padding: 10px;
}

img {
  width: 100%;
}

/* code[class*="language-"],
pre[class*="language-"] {
  color: white !important;
  background: none;
  text-shadow: none !important;
} */

pre {
  background: none !important;
}

.hljs {
  color: #24292e;
  background: #ffffff;
  border-radius: 10px !important;
  border: 1px solid lightgray !important;
}
